* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

header {
    width: 100vw;
    height: 70px;
}

header nav ul li{
    font-size: 1.3rem;
    color: #222;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

ul li{
    display: inline-block;
    font-size: 1.4rem;
    padding: 15px 10px;
}

ul li:hover, ul img:hover{
    cursor: pointer;
}

.menu-icon{
    width: 40px;
    padding: 7px;
}

.menu-icon:hover{
    background-color: #EEE;
}

header ul a{
    color: black;
}

header ul a:visited{
    color: black;
}

ul img {
    width: 25px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 50%;
}

.user-profile-icon{
    width: 40px;
    padding: 5px;
}

ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

main{
    width: 100vw;
    height: 100%;
}

footer{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    color:gray;
    border-top: 1px solid gainsboro;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.left-footer li{
    margin-right: 10px;
}

.right-footer li{
    margin-left: 10px;
}

footer ul a{
    color: gray;
}

footer ul a:visited{
    color: gray;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 300px;
    height: 100px;
    margin: 25px;
    object-fit: cover;
}

.icon{
    width: 15px;
    position: relative;
    top: -13px;
    left: 32px;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border: 1px solid gainsboro;
    border-radius: 25px;
    padding: 10px;
    padding-left: 40px;
    width: 500px;
    resize: none;
    overflow: hidden;
}

textarea:hover{
    box-shadow: 0px 0px 7px gainsboro;
}

textarea:focus{
    outline: none !important;
    box-shadow: 0px 0px 7px gainsboro;
}

.button-container{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.language-change {
    margin: 25px 0;
    font-size: 1.2rem;
}

.button-container button{
    margin: 7px;
    padding: 10px 15px;
    background-color: whitesmoke;
    color: #333;
    border: 1px solid transparent;
    font-size: 1.3rem;
    border-radius: 5px;
}

.button-container button:hover{
    border: 1px solid gainsboro;
    cursor: pointer;
}